.DS_Store
.env
.env.*
!.env.example

.bundle/config

/log/*.log
!/log/delete.me

/tmp/*
!/tmp/.keep

/files/*
!/files/delete.me

/public/assets/*
!/public/assets/.keep

/public/plugin_assets/*
!/public/plugin_assets/.keep

/coverage/
/storage/

*.swp
*.swo
*~
*.bak
*.backup
*.old
*.orig
